<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/blank.xhtml">
	<ui:define name="body">
		<div id="menu">
			<h:form>
				<h:panelGrid columns="4">
					<h:link outcome="/manager/teste.faces" styleClass="linkBotao">
						<h:outputText value="Meu Link"  ></h:outputText>
					</h:link>
				</h:panelGrid>
			</h:form>
		</div>
		<div id="main" class="admin">
			<ui:insert name="content" />
		</div>
	</ui:define>
</ui:composition>