body {
	margin: 0;
	min-width: 600px;
	min-width: 600px;
	background: #050505 url("#{resource['images:back.jpg']}") repeat;
}

.label {
	font-weight: 700;
	min-width: 150px;
	text-align: right;
}

.comandos {
	padding-left: 165px;
}

.cancelar {
	float: right;
}

.upperCase {
	text-transform: uppercase;
}

.ui-widget {
	font-size: 13px !important;
	
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 13px !important;
	font-family: 'Open Sans', sans-serif !important;
}

.ui-dialog {
	top: 90px !important;
}

.gridConfiguracaoImposto {
	width: 100%;
}

.dinheiro {
	text-align: right;
}

.porcentagem {
	text-align: right;
}

.ui-state-error {
   color: #000 !important; // or some other color
}

