@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {
	margin: 0;
	padding: 0;
	min-width: 600px;
	min-width: 600px;
	font-family: "Open Sans", Arial, Verdana;
	font-size: 14px;
	text-rendering: optimizelegibility;
	
}

#mainMenu {
	background: #EFD5aa;
}

a {
	text-decoration: none;
}

.clearfix {
	clear: both;
}

header {
	font-weight: 300;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}

header,header a {
	color: #FFF;
}

header h1 {
	margin: 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	color: #ccc;
	padding: 13px 20px 0;
	width: 200px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

header h1 span {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 0.2em;
	line-height: 25px;
	color: #fff;
	display: block;
}

header h1 small {
	display: block;
	font-size: 9px;
	line-height: 12px;
	color: #fff;
	opacity: 0.5;
	letter-spacing: 0.2em;
	margin-top: 10px;
}

header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
}

header li a {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

header #user {
	position: absolute;
	right: 0px;
	top: 0;
}

header nav#navmain li {
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
}
/*
header nav#navmain li:first-child { border-left: 1px solid rgba(255, 255, 255, 0.2); }
header nav#navmain li:last-child { border-right: 1px solid rgba(0, 0, 0, 0.1); }
*/
header nav#navmain li a {
	display: block;
	width: 120px;
	height: 90px;
	text-align: center;
	overflow: hidden;
	padding-top: 15px;
	font-weight: 600;
	/*
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

header nav#navmain li a i {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	opacity: 0.1;
}

header nav#navmain li a:hover {
	background: #EDA500;
}

header nav#navmain li a:hover i {
	opacity: 0.9
}

header nav#navmain li.active a {
	background: #FFF;
	color: #222;
	height: 92px;
}

header nav#navmain li.active a i {
	color: #222;
	opacity: 0.8;
}

div#container {
	clear: both;
}

div#navleft,div#container {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

div#navleft {
	background: #eee;
	width: 200px;
	padding: 0px 0 10px 10px;
	float: left;
}

div#content {
	margin-left: 220px;
	padding: 25px;
}

/* NAV LEFT */
div#navleft #navleft-action a {
	background: #ccc;
	padding: 4px 10px;
	display: block;
	float: right;
	white-space: nowrap;
	color: #333;
}

div#navleft #navleft-action i:before {
	content: "\f104";
}

div#navleft #navleft-action span:before {
	content: "ocultar menu";
	text-transform: uppercase;
	font-size: 11px;
}

div#navleft #navleft-action span {
	display: none;
	white-space: nowrap;
}

div#navleft #navleft-action a:hover span {
	display: inline-block;
}

/* CONTENT FULL SIZE */
div#container.fullsize div#navleft {
	width: 0px;
	position: relative;
}

div#container.fullsize div#navleft .ui-menu {
	display: none;
}

div#container.fullsize div#navleft #navleft-action i:before {
	content: "\f105";
}

div#container.fullsize div#navleft #navleft-action span:before {
	content: "mostrar menu";
}

div#container.fullsize div#navleft #navleft-action {
	position: absolute;
	float: left;
	left: 0;
	top: 0;
}

div#container.fullsize div#content {
	margin-left: 20px;
}

/* NAV USER */
div#user {
	width: 220px;
}

div#user ul>li {
	display: inline-block;
	position: relative;
}

div#user ul>li>a {
	text-transform: uppercase;
	background: #AAAAAA;
	width: 220px;
	line-height: 45px;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 10px;
	display: block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

div#user li>ul {
	display: none;
}

div#user li:hover ul {
	position: absolute;
	top: 10px;
	right: 215px;
	z-index: 2;
	display: block;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, .2);
}

div#user li:hover ul a {
	background: #FFF;
	color: #1b3978;
	width: 200px;
	text-transform: none;
	font-weight: 500;
}

div#user li:hover ul a:hover {
	background: #eee
}

/* */
div#content .ui-corner-all {
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

/*  NAV LEFT SLIDE MENU */
div#navleft .ui-menu.ui-widget {
	background: none;
	border: 0 solid;
	overflow: hidden;
}

div#navleft .ui-menu.ui-widget .ui-separator {
	opacity: 0.7;
	background: #ddd;
}

div#navleft .ui-menu .ui-menu-list .ui-menuitem {
	padding: 5px 0;
	color: #999;
}

div#navleft .ui-menu .ui-menu-list .ui-menuitem a {
	color: #444;
}

/* FAVORITES */
div#container.fullsize li {
	margin-right: 5px;
}

.favorites ul {
	list-style: none;
	padding: 0;
	margin-bottom: 40px;
}

.favorites li {
	margin: 0 15px 15px;
	padding: 0;
	display: inline-block;
	text-align: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.favorites li a {
	color: #444;
	width: 200px;
	height: 200px;
	padding: 50px 30px 30px;
	display: table-cell;
	border: 1px solid #ddd;
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color = #ffffff, offx = 1, offy = 1);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.favorites li a i {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	opacity: 0.8;
	color: #EEA500;
}

#conteudo{
	opacity: 0.8;
}

.favorites li a:hover {
	background: #EEA500;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	filter: dropshadow(color = #000, offx = 1, offy = 1);
}

.favorites li a:hover i {
	color: #fff;
}

/* TABLE LISt */
div#content .ui-fieldset.ui-widget {
	border: 0 solid;
	padding: 0;
}

div#content .ui-fieldset .ui-fieldset-legend {
	background: none !important;
	display: block;
	width: 100%;
	border: none;
	padding: 0;
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 24px;
	font-weight: 500;
	letter-spacing: 0.1em;
	color: #222;
	border: none;
}

div#content .ui-fieldset .ui-fieldset-legend.ui-state-default {
	-webkit-box-shadow: none;
	box-shadow: none;
}

div#content .ui-datatable table th {
	border: none;
	background: #eee;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 0;
	text-align: left;
	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
}

div#content .ui-datatable tbody,div#content .ui-datatable table,div#content .ui-datatable table tr,div#content .ui-datatable table td
	{
	border: 0 solid;
}

div#content .ui-datatable table tr:nth-child(even) td {
	background: #fcfcfc;
}

div#content .ui-datatable table tr td .ui-button {
	
}

div#content .ui-datatable table tr:hover td {
	background: #cfd7e9;
	-webkit-box-shadow: inset 0px 6px 2px -3px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 6px 2px -3px rgba(0, 0, 0, .1);
}

div#content .ui-datatable {
	border: 1px solid #eee;
}

