/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
body {
	margin: 0;
	padding: 0;
	background: #050505 url("#{resource['images:img01.jpg']}") repeat;
	font-family: 'Oswald', sans-serif fantasy ; 
	font-size: 25px;
	font-weight: 900;
	font-size: 14px;
	color: #5B5B5B;
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	font-weight: 200;
	color: #222222;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p,ul,ol {
	margin-top: 0;
	line-height: 180%;
}

ul,ol {
	
}

a {
	color: #5E5E5E;
}

a:hover {
	
}

#wrapper {
	/*background: #FFFFFF url(images/img05.jpg) repeat;*/
	background: #FFFFFF url("#{resource['images:back.jpg']}") repeat;
}

.container {
	width: 1000px;
	margin: 0px auto;
	background: url("#{resource['images:logoFundoTransparente.png']}")
		no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;;
}

/* Header */
#header-wrapper {
	overflow: hidden;
}

#header {
	width: 1000px;
	height: 350px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */
#logo {
	float: left;
	width: 380px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

#logo h1,#logo p {
	
}

#logo h1 {
	line-height: 120px;
	letter-spacing: -2px;
	font-size: 3.8em;
}

#logo h1 a {
	color: #33B5E5;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Splash */
#splash {
	width: 960px;
	height: 300px;
	margin: 0px auto;
}

/* Search */
#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #E7EBED;
	background: #FFFFFF;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */
#menu {
	float: left;
	width: 385px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: left;
	margin: 0;
	padding: 20px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	line-height: 60px;
	margin-right: 1px;
	padding: 0px 15px 0px 15px;
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 255, .5);
	font-family: 'Oswald', sans-serif fantasy ; 
	font-size: 25px;
	font-weight: 900;
	color: #FFFFFF;
	border: none;
}

#menu a:hover,#menu .current_page_item a {
	/*background: url("#{resource['images:img01.jpg']}") repeat;*/
	background-color: #BA55D3;
	text-shadow: 0px 0px 0px rgba(0, 0, 255, .5);
	border-radius: 8px;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	
}

/* Page */
#page {
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0px;
}

/* Content */
#content {
	float: left;
	width: 1000px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
	padding: 10px 50px 10px 50px;
	margin-bottom: 15px;
	border: 1px solid #E7EBED;
	border-radius: 8px;
	background: #FFF;
}

.post .title {
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
	font-size: 2.0em;
	color: #222;
}

.post .title a {
	border: none;
	text-decoration: none;
	color: #222222;
}

.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-size: 16px;
	font-weight: 300;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
	
}

.post .entry {
	padding: 0px 0px 40px 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	margin-right: 10px;
	background: #222222;
	border-radius: 8px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	background: #222222;
	color: #FFFFFF;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
}

/* Sidebar */
#sidebar {
	float: right;
	width: 270px;
	margin: 0px;
	padding: 30px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 60px;
}

#sidebar li li {
	line-height: 40px;
	border-bottom: 1px solid #E7EBED;
	margin: 0px 0px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
	background: url("#{resource['images:img04.jpg']}") no-repeat left 50%;
}

#sidebar h2 {
	height: 38px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #222222;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */
#calendar {
	
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Three Column Footer Content */
#footer-content {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	color: #D6E2F0;
}

#footer-content a {
	color: #92A9B6;
}

#footer-bg {
	overflow: hidden;
	padding: 30px 0px;
	background: #E8E8E8;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 26px;
	color: #262626;
}

#footer-content #fbox1 {
	float: left;
	width: 300px;
	margin-right: 50px;
}

#footer-content #fbox2 {
	float: left;
	width: 300px;
}

#footer-content #fbox3 {
	float: right;
	width: 300px;
}

#footer-content a {
	
}

#column1 {
	float: left;
	width: 290px;
	margin-right: 30px;
}

#column2 {
	float: left;
	width: 280px;
}

#column3 {
	float: right;
	width: 260px;
}

/* Footer */
#footer {
	height: 20px !important;
	margin: 0 auto;
	padding: 10px 0 15px 0;
}

#footer p {
	margin: 0;
	padding-top: 3px;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	color: #5E5E5E;
}

#footer a {
	color: #5E5E5E;
}

#marketing {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 0px 10px 0px;
	border-top: 1px solid #E7EBED;
	border-bottom: 1px solid #E7EBED;
}

#marketing .text1 {
	float: left;
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	font-size: 34px;
	color: #345E9B;
}

#marketing .text2 {
	float: right;
}

#marketing .text2 a {
	display: block;
	width: 252px;
	height: 38px;
	padding: 15px 0px 0px 0px;
	letter-spacing: -2px;
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
}

#banner {
	margin: 0px auto;
	width: 1000px;
	height: 340px;
	background: url("#{resource['images:img03.png']}") no-repeat left bottom;
}

#banner img {
	border-radius: 8px;
}

#banner .content {
	
}

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 a {
	color: #7F7F7F;
}

.links {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #9932CC;
	border-radius: 8px;
	color: #FFF;
	width: 120px;
	height: 30px;
	padding: 10px 10px 10px 10px;
	display: table-cell;
	border: 1px solid #ddd;
	filter: dropshadow(color =   #ffffff, offx =   1, offy =   1);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.links:hover {
	background-color: #444;
}

.links i {
	text-align: center;
	opacity: 0.8;
	color: #FFF;
	margin-right: 5px;
}

.topico {
	font-size: 15px;
	font-style: bold italic;
}