<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/filterTemplate.xhtml">
	
	
	<ui:define name="filter">
		
		
	</ui:define>
	
	<ui:define name="content">
		<h:form id="formTable">
			<p:dataTable emptyMessage="Sem usuários cadastrados.">
				<p:column headerText="Login"></p:column>
				<p:column headerText="Senha"></p:column>
			</p:dataTable>
		</h:form>
		
	</ui:define>
</ui:composition>

